html{
  background-color: rgb(73, 212, 124);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculator-input{
  width: 366px;
  margin-bottom: 10px;
  font-size: x-large;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(73, 212, 124);
  background-color: aqua;
}
button{
  width: 90px;
  height: 40px;
  background-color: rgb(55, 191, 200);
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(55, 191, 200);
  margin-bottom: 3px;
  cursor: pointer;
}
.buttons{
  background-color: rgb(134, 227, 67);
  border-radius: 10px;
  border-color: rgb(134, 227, 67);
  color: black;
}
button:hover{
  background-color: rgb(73, 212, 124);
  border-color: rgb(73, 212, 124);
  color: black;
}
button {
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
button.active {
  background-color: #f0e68c;
  color: #000;
  border-color: #ffc107; 
}
.title{
  text-align: center;
  font-style: italic;
  color: rgb(2, 122, 120);
}
.equals{
  color: azure;
  background-color: rgb(253, 177, 35);
  border-color: rgb(253, 177, 35);
}
.delete{
  color: azure;
  background-color: rgb(253, 177, 35);
  border-color: rgb(253, 177, 35);
}
.clear{
  color: azure;
  background-color: rgb(253, 177, 35);
  border-color: rgb(253, 177, 35);
}
.open-bracket{
  color: azure;
  background-color: rgb(58, 58, 58);
  border-color: rgb(58, 58, 58);
}
.close-bracket{
  color: azure;
  background-color: rgb(58, 58, 58);
  border-color: rgb(58, 58, 58);
}
.dot{
  background-color: rgb(134, 227, 67);
  border-radius: 10px;
  border-color: rgb(134, 227, 67);
  color: black;
}
